.thumbnail {
    position: relative;
    cursor: pointer;
}

.thumbnail img:hover{
    opacity: .8;
}

.thumbnail .title {
    display: flex;
    max-width: 150px;
}

.thumbnail .title span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 14px;
    line-height: 15px;
}